/* CSS HSL */
--bright-yellow-crayola: hsla(36, 100%, 60%, 1);
--mandarin: hsla(20, 76%, 61%, 1);
--rosso-corsa: hsla(2, 86%, 43%, 1);
--cyber-yellow: hsla(49, 98%, 56%, 1);
--princeton-orange: hsla(26, 100%, 61%, 1);
--field-drab: hsla(38, 54%, 26%, 1);

/* SCSS HEX */
$bright-yellow-crayola: #ffad33ff;
$mandarin: #e7804eff;
$rosso-corsa: #cd1610ff;
$cyber-yellow: #fdd422ff;
$princeton-orange: #ff8e37ff;
$field-drab: #654b1eff;

/* SCSS HSL */
$bright-yellow-crayola: hsla(36, 100%, 60%, 1);
$mandarin: hsla(20, 76%, 61%, 1);
$rosso-corsa: hsla(2, 86%, 43%, 1);
$cyber-yellow: hsla(49, 98%, 56%, 1);
$princeton-orange: hsla(26, 100%, 61%, 1);
$field-drab: hsla(38, 54%, 26%, 1);

/* SCSS RGB */
$bright-yellow-crayola: rgba(255, 173, 51, 1);
$mandarin: rgba(231, 128, 78, 1);
$rosso-corsa: rgba(205, 22, 16, 1);
$cyber-yellow: rgba(253, 212, 34, 1);
$princeton-orange: rgba(255, 142, 55, 1);
$field-drab: rgba(101, 75, 30, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);
$gradient-right: linear-gradient(90deg, #ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);
$gradient-bottom: linear-gradient(180deg, #ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);
$gradient-left: linear-gradient(270deg, #ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);
$gradient-top-right: linear-gradient(45deg, #ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);
$gradient-bottom-right: linear-gradient(135deg, #ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);
$gradient-top-left: linear-gradient(225deg, #ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);
$gradient-bottom-left: linear-gradient(315deg, #ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);
$gradient-radial: radial-gradient(#ffad33ff, #e7804eff, #cd1610ff, #fdd422ff, #ff8e37ff, #654b1eff);