:root{
    /* Coolors Exported Palette - https://coolors.co/ffad33-e7804e-cd1610-fdd422-ff8e37-654b1e */
    --bright-yellow-crayola: #ffad33ff;
    --mandarin: #e7804eff;
    --rosso-corsa: #cd1610ff;
    --cyber-yellow: #fdd422ff;
    --princeton-orange: #ff8e37ff;
    --field-drab: #654b1eff;
}

@font-face {
    font-family: "Roboto_Mono";
    src: url("./ressourcesEtLiens/Roboto_Mono");
    font-variant: font-variant;
    
    font-weight: font-weight;
    font-style: font-style;
    size-adjust: size-adjust;
    /* ascent-override: ascent-override; */
    /* descent-override: descent-overrid; */
    /* line-gap-override: line-gap-override; */
    /* font-feature-settings:font-feature-settings;  */
    /* font-variation-settings: font-variation-settings; */
    /* font-stretch: font-stretch; */
}
/* ===================================================== */
/* Apparence générale */

body{
    background-image:linear-gradient(135deg, #ffad33ff, #e7804eff, #cd1610ff);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: auto;
    opacity: 1;
    margin: auto;
    padding:0;
    box-sizing: border-box;
}

#global{
    width:100%;
    display:grid;
    gap:5px;
    grid-template-areas:
        'entete'
        'contenu';
}

footer{
    width:80%;
    margin: auto;
}

footer p{
    padding: 10px;
    text-align: center;
}


/* Police de caractère par défaut */
p{
    font-family: "Arial, Helvetica", sans-serif;
    font-size:16px;
}

h2{
    font-family: "Roboto_Mono", Helvetica, sans-serif;
    font-size: 32px;
}

/* Barre de navigation */

header.entete{
    grid-area: entete;
    display:grid;
    position: relative;
    grid-template-areas:
        '. . . cartouche . . .'
        'menu menu menu menu menu menu menu ';
    background-image:url("../images/sky.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    box-sizing: border-box;
    width:100%;
    height: auto;
    border: 5px solid  #09330a;
    padding: 0 5px;
    margin: 0 auto;
    border-radius:25px;
}

.cartouche{
    grid-area:cartouche;
    justify-content:center;
    text-align:center;
}

#menu{
    grid-area:menu;
    display:grid;
    grid-template-areas: 'Ac G L T C CV Ad';
    position:sticky;
    top:0;
    background-color:var(--mandarin);
    width:90%;
    height: 40px;
    margin:auto;
    box-sizing: border-box;
    z-index: 100;
    display:none;
}

.menu_hamburger{
    color: var(--field-drab);
    width:250px;
    height:auto;
    padding:10px;
    position:absolute;
    top:75px;
    left:-270px;
    transition: left 500ms ease 0ms;
}

.menu_hamburger.affiche{
    left:0;
    transition: left 1s linear 0s;
}

.menu_hamburger a{
    text-decoration: none;
    color:var(--cyber-yellow);
    font-size:150%;
}

.liensNav{
    float:left;
    display:block;
    color: #07423b;
    list-style-type: none;
    padding: 0 2px;
    cursor:pointer;
    text-decoration: none;
    padding: 5px 0;
    line-height: 40px;
    height:40px;
    font-family:"Roboto_Mono", sans-serif;
    font-size: 20px;
    text-align:center;
    transition:transform 0.5s ease-in, color, top 0.5s, border-bottom 0.5s;
    
}

#lienAcceuil{grid-area:Ac;}
#lienGalerie{grid-area:G;}
#lienLiens{grid-area:L;}
#lienTutoriels{grid-area:T;}
#lienContact{grid-area:C;}
#lienCV{grid-area:CV;}
#lienAdmin{grid-area:Ad;}

.liensNav:hover{
    cursor:pointer;
    opacity:1;
    color: rgba(255, 255, 255, 0.541);
    border-bottom:var(--rosso-corsa);}

.lienNav:hover::after {
    content:'\00bb';
    position: absolute;
    opacity: 1;
    top: 16px;
    right:-5px;
}

#menu a:visited{
    color: #07423b;
}

.liensNav:active, .liensNav:active::after{
    top: 6px;
}

.hamburger {
    display: block;
    position:sticky;
    z-index:10;
    top: 50px;
    left:50px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px;
    cursor:pointer;
}
  
.hamburger:before,
.hamburger:after,
.hamburger div {
  background: #fff;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.hamburger:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.hamburger:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.hamburger:hover div {
  transform: scale(0);
}

/* ===================================================== */
/* Page "home.php" */

#presentation{
    width: 50%;
    margin:auto;
    outline: 3px solid green;
}

.align-items-center{
    align-items:center;
}

.justify-content-center{
    justify-content:center;
}

.hero-image{
    background: url("../images/gareDeBudaBruxelles.JPG") no-repeat center;
    background-size:cover;
    height: 500px;
    position:relative;
    border-radius:25px;
}

.hero-text{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
}

div.hero-text h1{
    color: rgba(107, 10, 6, 0.856);
    font-size:3em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
/* ===================================================== */
/* Page "liens.php" */

main.liens{
    display:grid;
    top:50%;
    left:50%;
    grid-template-areas: 
        'CSS CSS HTML HTML'
        'CSS CSS HTML HTML'
        'JS JS image image'
        'JS JS image image';
    margin: 0 auto;
}

.CSS{
    grid-area:CSS;
    width: auto;
}

.HTML{
    grid-area: HTML;
}

.JS{
    grid-area:JS;
}

.image{
    grid-area:image;
}

/* ===================================================== */
/* Page "tuto" */
main.containerTuto{
    display:grid;
    width:100%;
    grid-template-areas:
        'pTuto pTuto pTuto pTuto'
        'h2Tuto h2Tuto h2Tuto h2Tuto'
        'tutoGood tutoGood tutoBad tutoBad'
        'tutoGood tutoGood tutoBad tutoBad'
        'choixTuto choixTuto choixTuto choixTuto';
    grid-gap: 5px;
    padding: 5px;
    margin: 5px;
}

#tutoDescription{
    grid-area: pTuto;
}

#titreChoixTuto{
    grid-area:h2Tuto;
}

.tutoGood{
    grid-area:tutoGood;
}

.tutoBad{
    grid-area:tutoBad;
}

.choixTuto{
    grid-area:choixTuto;
    width: 100%;
}
/* ===================================================== */
/* Page Galerie */

/* Gallery container */
#index-gallery{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-gap:10px;
    grid-template-areas:
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3 img4"
    "img5 img6 img3 img7";
    width:80%;
    height:auto;
    margin: auto;
}

#index-gallery a:hover{
    cursor:cell;
}

.gallery-img{
    cursor:pointer;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Images */
#index-gallery h2{
    grid-area: gallery-h2;
}
#index-gallery .img1 {
    grid-area:img1;
    background-image: url("../images/thumb/img1.JPG");
}
#index-gallery .img2 {
    grid-area:img2;
    background-image: url("../images/thumb/img2.JPG");
}
#index-gallery .img3 {
    grid-area:img3;
    background-image: url("../images/thumb/img3.JPG");
    height:610px;
}
#index-gallery .img4 {
    grid-area:img4;
    background-image: url("../images/thumb/img4.JPG");
}
#index-gallery .img5 {
    grid-area:img5;
    background-image: url("../images/thumb/img5.JPG");
}
#index-gallery .img6 {
    grid-area:img6;
    background-image: url("../images/thumb/img6.JPG");
}
#index-gallery .img7 {
    grid-area:img7;
    background-image: url("../images/thumb/img7.JPG");
}

/* Gallery image titles */
.gallery-img div{
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: box-shadow 0.5s, opacity 0.5s;
}

.gallery-img div:hover{
    opacity: 0.5;
    box-shadow: 10px 10px 10px rgb(37, 17, 17);
}

.gallery-img a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
}

/* Popup window when clicked */
.img-window{
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.8);
    position:fixed;
    top: 0;
    left:0;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index:100;
}

.img-window img{
    max-height: 80vh;
    max-width:80vw;
}

/* Next image */
.img-btn-next{
    display:block;
    padding:6px 10px;
    border-radius:4px;
    background-color: rgb(42, 182, 30);
    position:fixed;
    top:48vh;
    right:48vw;
    z-index:500;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    cursor:pointer;
    text-transform:uppercase;
}

.img-btn-next:hover{
    opacity:0.8;
}

.img-btn-prev{
    display:block;
    padding:6px 10px;
    border-radius:4px;
    background-color: rgb(119, 26, 26);
    position:fixed;
    top:48vh;
    left:48vw;
    z-index:500;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    cursor:pointer;
    text-transform:uppercase;
}

.img-btn-prev:hover{
    opacity:0.8;
}

/* ===================================================== */
/* Section Administration */

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0; z-index: 300} 
  to {top:20%; opacity:1; z-index:300}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:20%; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top:5px;
    right:15px;
  }
  
.close:hover,
.close:focus {
    color: rgb(141, 37, 37);
    text-decoration: none;
    cursor: pointer;
}

/* ===================================================== */
/* Contact */

#contactForm {
    width:600px;
    margin: 0 auto;
    font-size:20px;
    box-sizing:border-box;
}

#contactForm label{
    display:inline-block;
    height:40px;
    line-height:40px;
    width:200px;
    text-align:right;
}

#contactForm input{
    height: 40px;
    width: 400px;
    margin-bottom:5px;
}

#contactForm textarea{
    resize:none;
    width: 400px;
    height: 80px;
}

#contactForm label[for="msg"]{
    float:left;
}

#contactForm input[type="submit"] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
/*







#contactForm input[type=submit]:hover {
  opacity: 0.8;
} */
